.header {
    width: 100%;
    height: 100px;
    background-color:  rgb(30 58 138);
}

.header .navbar {
    display: flex;
    align-items: center;
    height: 100%;
    padding: 1rem;
}

.header .navbar-dash {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    padding: 1rem;
}

.nav-menu {
    display: flex;
}
 
.nav-menu li {
    padding: 0 3rem;
}

.navbar-dash .nav-menu a {
    font-size: larger;
    font-weight: bold;
    color: rgb(255, 255, 255);
}

.menu {
    color: rgba(255, 255, 255, 0.959);
    font-weight: bold;
    font-size: larger;
    padding-bottom: 10px;
    border-bottom-style: solid;
    border-bottom-width: 5px;
    width: fit-content;
    border-bottom-color: rgb(190, 190, 190);
}

.imgs {
    padding-left: 20px;
    justify-content: left;
    display: flex;
}

.imgs-register {
    padding-top: 2px;
    justify-content: center;
    display: flex;
}

.container-image {
    align-items: center;
    display: flex;
    height: 150px;
    width: 150px;
}

.container-image-register {
    align-items: center;
    display: flex;
    justify-content: center;
    height: 350px;
    width: 350px;
}

.wrapper-gallery {
    display: flex;
    height: 15vh;
    padding-top: 2rem;
    justify-content: center;
    align-items: center;
}

.wrapper-list {
    display: flex;
    height: 15vh;
    padding-top: 2rem;
    justify-content: center;
}

.wrapperdata-gallery {
    flex: 1;
    display: flex;
    padding-top: 2rem;
    align-items: center;
    width: 75%;
}

.image-gallery {
    flex: 2;
    display: flex;
    flex-direction: column;
}

.image-gallery img{
    min-width: 250px;
    width: 500px;
    height: 500px;
    object-fit: cover;
    margin-left: 30%;
}

.infotext-gallery {
    flex: 2 1;
    max-width: 250px;
}
  
.infotext-gallery h1 {
    font-weight: bold;
    font-size: xx-large;
    margin-block: 1rem;
}
  
.infotext-gallery h2 {
    font-weight: bold;
    font-size: larger;
    padding-bottom: 1rem;
}
  
.infotext-gallery p {
    font-weight: 500;
}
  
.options {
    display: flex;
    flex: 1;
    justify-content: center;
    font-weight: 600;
}
  
.form-select {
    width: 8rem;
    margin-right: 5rem;
    height: 4rem;
    background-color: rgb(235, 235, 235);
    border-radius: 10px;
    box-shadow: 4px 4px rgb(190, 190, 190);
}

.search {
    display: flex;
    width: 50%;
    height: 75%;
    border-radius: 10px;
    flex-direction: row;
    align-items: center;
    background-color: rgb(235, 235, 235);
    box-shadow: 4px 4px rgb(190, 190, 190);
}
  
.input-search {
    all: unset;
    width: 100%;
    padding: 25px;
    font-size: 18px;
}

.textumkm-list {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.textumkm-list h1 {
    font-weight: bold;
    font-size: xx-large;
}

.textumkm-list p {
    text-align: center;
    font-size: larger;
    padding-top: 8px;
    color: #334157;
}

.textumkm-gallery h1 {
    padding-top: 1rem;
    font-weight: bold;
    font-size: 3rem;
    text-align: center;
}

.user-image-container {
    display: flex;
    justify-content: center;
}

.user-image {
    width: 150px;
    height: 150px;
    margin-top: 20%;
    border-radius: 50%;
    object-fit: cover;
    border: 4px solid #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.user-name {
    font-weight: bold;
    margin: 8%;
    margin-top: 10%;
}

.list-card {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    width: 300px;
    height: 350px;
}

.btn-card {
    margin: 5px;
    padding-top: 3%;
    background-color: rgba(30, 59, 138, 0.541);
    width: 50%;
    height: 45px;
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
    font-family: monospace;
    font-weight: bold;
    font-size: x-large;
    box-shadow: 4px 4px rgb(190, 190, 190);
}

.btn-dots {
    position: absolute;
    right: 110px;
    top: 50px;
    background-color: transparent;
    border: none;
    font-size: 24px;
    color: #000;
    cursor: pointer;
}

.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}

.column {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
}

.textumkm-dash {
    background-color: rgb(190, 190, 190);
    background-attachment: fixed;
    height: 87vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.textumkm-dash h1 {
    font-weight: bold;
    font-size: 45px;
    padding-bottom: 10px;
    border-bottom-style: solid;
    border-bottom-width: 5px;
    width: fit-content;
    border-bottom-color: rgb(30 58 138);
}

.infotext-dash {
    margin: 40px 90px 5px 90px;
    font-size: 30px;
    text-align: justify;
    line-height: 28px;
    color: #334157;
    font-family: monospace;
}
  
.bg-column {
    background-image: url('../assets/background.jpg');
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0 0;
    display: flex;
    opacity: 0.2;
    height: 87vh;
}

.back-button{
    width: 100px;
    height: 45px;
    text-align: center;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 24px;
    background-color: rgb(255, 255, 255);
    box-shadow: 6px 6px rgba(0, 0, 0, 0.295);
    color: rgb(0, 0, 0);
    border: none;
    margin: 60px auto;
    padding: 12px;
}

.sosmed-logo {
    display: flex;
    margin-top: 5%;

}

.sosmed-items {
    width: 30%;
    margin: 10px; 
    margin-left: auto;
    margin-right: auto;
}

.main {
    height: 100vh;
    text-align: center;
    justify-content: center;
    display: flex; 
    padding-top: 40px;
    padding-bottom: 90px;
    background-color: rgb(30 58 138);
}

.sub-main {
    display: flex;
    justify-content: center;
    margin: 24px;
    height: 600px;
    width: 560px;
    box-shadow: 16px 16px rgba(0, 0, 0, 0.247);
    padding-top: 40px;
    border-radius: 8px; 
    background-color: rgba(209, 213, 219, 0.507);
}

.imgs-login {
    padding-top: 4px;
    justify-content: center;
    display: flex;
}

.container-image-login {
    align-items: center;
    display: flex;
    justify-content: center;
    height: 115px;
    width: 115px;
}

.input-login input{
    appearance: none;
    width: 400px;
    height: 64px;
    background-color: rgba(255, 255, 255, 0);
}

.input-register input{
    appearance: none;
    width: 400px;
    height: 64px;
    background-color: rgba(255, 255, 255, 0);
}

.input-login input::-webkit-input-placeholder {
    color: rgba(0, 0, 0, 0.5);
    padding-left: 16px;
}

.input-register input::-webkit-input-placeholder {
    color: rgba(0, 0, 0, 0.5);
    padding-left: 16px;
}

.login-button{
    width: 40%;
    height: 50px;
    border-radius: 24px;
    background-color: rgb(55, 126, 192);
    box-shadow: 6px 6px rgba(0, 0, 0, 0.295);
    color: white;
    border: none;
    margin: 25px auto;
}

.text-button {
    font-size: 24px;
    padding-top: 4px;
}

.create-button {
    width: 75%;
    height: 50px;
    border-radius: 8px;
    background-color: rgb(55, 126, 192);
    box-shadow: 6px 6px rgba(0, 0, 0, 0.295);
    color: white;
    border: none;
    margin: 25px auto;
}

.lines p{
    position: relative;
    display: inline-block;
}

.lines p::before{
    content: " ";
	position: absolute;
	border-bottom: 1px solid black;
	width: 179px;
	left: -189px;
	top: 50%;
}

.lines p::after {
    content: " ";
	position: absolute;
	border-bottom: 1px solid black;
	width: 179px;
	right: -189px;	
	top: 50%;
}

@media screen and (max-width: 1500px) {
    main {
        height: 100vh;
        text-align: center;
        justify-content: center;
        display: flex;
    }

    .sub-main {
        display: flex;
        justify-content: center;
        margin: auto;
        height: 600px;
        width: 560px;
    }
}
   
@media screen and (max-width: 768px) {
    main {
        height: 100vh;
        text-align: center;
        justify-content: center;
        display: flex;
    }

    .sub-main {
        display: flex;
        justify-content: center;
        margin-top: 24px;
        height: 600px;
        width: 560px;
        margin: auto;
    }
}